body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: arial, sans-serif; */
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: white;
    font-weight: 500;
    opacity: .7;
    font-size: 1.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
}

.view-employees {
    box-sizing: border-box;
    text-decoration: none;
    width: 70%;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #482697;
    font-size: 1.4rem;
    background: rgba(255, 255, 255, .3);
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
}

.view-employees:hover {
    text-shadow: 2px 2px 6px #00000040;
}

.view-employees:active {
    text-shadow: none;
}

form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(255, 255, 255, .3);
    padding: 0 3rem 3rem 3rem;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

h2 {
    text-align: center;
    color: #482697;
    font-weight: 500;
    /* opacity: .7; */
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

label {
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: 500;
    opacity: .7;
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

input {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 0.5rem;
    width: 80%;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    color: #482697;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all .3s;
    margin-bottom: 1rem;
}

input:hover,
input[type="email"]:focus,
input[type="password"]:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

input[type="button"] {
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.5rem;
    width: 100%;
    border-radius: 10px;
    /* padding: 1rem; */
}

.address legend {
    color: #482697;
}

.adress-item-box {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.ui-selectmenu-button.ui-button {
    width: 80%;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: #482697;
    border-radius: 50px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    background: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    transition: all .3s;
    text-align: center;
}

.submit-button {
    border: none;
    width: 40%;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    color: white;
    font-size: 1.4rem;
    /* background: rgba(255, 255, 255, .3); */
    background: #9053BC;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    cursor: pointer;
}

::placeholder {
    color: #a2a0a0;
}